.input {
  &__label {
    display: block;
    font-weight: 600;
    font-size: 1rem;
    color: #7c423c;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  &__field {
    margin: 0 1.5rem;
    color: black;
    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    width: 31rem;
    height: 2.37rem;
    margin-bottom: 1rem;
  }
  &__field:last-child {
    margin-bottom: 1.5rem;
  }
  &__error {
    margin: 0 1.5rem;
    padding: 0 1rem;
    border: 1px solid red;
    border-radius: 20px;
    box-sizing: border-box;

    width: 18rem;
    height: 2.37rem;
  }
}
.error-message {
  font-size: 0.8rem;
  margin-left: 0.3rem;
  margin-top: 0rem;
  color: red;
}
.error-alert {
  display: flex;
  margin-left: 2rem;
}
.error-icon {
  width: 0.8125rem;
  height: 0.8125rem;
  margin-top: 0.2rem;
}

.bob {
  width: 31rem;
  height: 2rem;
  border: 0;
  border-bottom: 1px solid #552534;
  background-color: #fef4ec;
  padding-left: 0.5rem;
  margin: 1rem 1.5rem;
}
