@import "./components/partials/_variables.scss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #552534;

  color: #ffffff;
  /* padding-left: 2rem; */
  margin-right: 2rem;
}

.tester {
  display: flex;
}
