@import "../partials/variables";
@import "../partials/mixins";

.kids-div {
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
}

.kid-card {
  width: 12rem;
  height: fit-content;
  margin-left: 2rem;
  border-radius: 15px;
  border: 1px solid white;
  background-color: $secondary;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  &__image {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    height: 12rem;
    width: 12rem;
  }
  &__name {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 0.5rem;
    color: $tertiary;
  }
  &__info {
    display: flex;
    flex-direction: column;
    height: 5rem;
    border-radius: 0px 0px 15px 15px;
    background-color: $secondary;
  }
  &__shareBtn {
    border: 1px solid $primary;
    width: 4rem;
    height: 2rem;
    border-radius: 15px;
    margin-top: 0.5rem;
    background-color: $primary;
    color: $secondary;
  }
  &__sharing {
    color: $primary;
    padding-left: 0.5rem;
  }
  &__sharing-header {
    font-weight: 600;
  }
  &__deleteBtn {
    background-color: $primary;
    border: 0;
    margin-left: 13rem;
  }
}

.button-div {
  display: flex;
  justify-content: space-around;
}

.btn-style2 {
  color: $tertiary;
  background-color: $secondary;
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  // margin-left: 25rem;
  margin-left: 2rem;
  border: 0;
  border-radius: 20px;
}

.btn-style {
  color: $tertiary;
  background-color: $secondary;
  width: 9rem;
  height: 2.3rem;
  margin-top: 1rem;
  margin-left: 25rem;
  // margin-left: 2rem;
  border: 0;
  border-radius: 20px;
}

.btn-style3 {
  color: $tertiary;
  background-color: $secondary;
  width: 8rem;
  height: 1.5rem;
  margin-left: 1rem;
  border: 0;
  border-radius: 15px;
}

.delete-icon {
  width: 1.5rem;
  height: 1.5rem;
}
