.profile {
  margin-top: 2rem;
  width: 12rem;
  height: 15rem;
  border-radius: 20px;
  // margin-left: 1rem;
}
.link-style {
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  border-right: 1px solid black;
  // width: 30%;
  width: 14rem;
  box-shadow: 3px 0px 20px #888888;
  background-color: #7c423c;
  &__profile {
    margin-left: 1rem;
  }

  &__list {
    margin-top: 5rem;
    padding-left: 0rem;
  }
  &__item {
    list-style: none;
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-weight: 500;
  }
  &__icon {
    width: 1.2rem;
    height: 1.5rem;
    color: white;
  }
  &__page {
    display: flex;
  }
}
