.profilePic {
  margin-top: 2rem;
  width: 10rem;
  border: 1px solid black;
  border-radius: 40rem;
  object-fit: contain;
}
.link-style {
  color: #552534;
  text-decoration: none;
}

.navbar {
  border-right: 1px solid black;
  width: 12rem;
  min-width: 12rem;
  height: 100vh;
  box-shadow: 3px 0px 20px #888888;
  background-color: #ffffff;
  padding-left: 1rem;

  &__list {
    padding-left: 0rem;
  }
  &__item {
    list-style: none;
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-weight: 500;
  }
  &__icon {
    width: 1.2rem;
    height: 1.5rem;
    color: white;
  }
  &__page {
    display: flex;
  }
  &__logOut {
    margin-top: 0.3rem;
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    background-color: #ffffff;
    color: #552534;
    border: 0;
    padding: 0;
  }
}

.profile {
  &__container {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  &__box {
    margin: 0;
    font-weight: 600;
    color: #552534;
  }
}
