@import "./variables";

@mixin buttonWhiteBackground {
  background-color: $secondary;
  color: $primary;
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: 2rem;
  border: 0;
  border-radius: 20px;
}

@mixin buttonColorBackground {
  background-color: $primary;
  color: $secondary;
}

.btn-style {
  color: $tertiary;
  background-color: $secondary;
  width: 9rem;
  height: 2.3rem;
  margin-top: 1rem;
  margin-left: 25rem;
  // margin-left: 2rem;
  border: 0;
  border-radius: 20px;
}

.btn-style2 {
  color: $tertiary;
  background-color: $secondary;
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  // margin-left: 25rem;
  margin-left: 2rem;
  border: 0;
  border-radius: 20px;
}

.btn-style3 {
  color: $tertiary;
  background-color: $secondary;
  width: 8rem;
  height: 1.5rem;
  margin-left: 1rem;
  border: 0;
  border-radius: 15px;
}

@mixin modal-style {
  background-color: white;
  color: $primary;
  position: fixed;
  z-index: 500;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  padding: 1rem;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  top: 20%;
}
