@import "../partials/variables";

.tag-input {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
  min-height: 48px;
  width: 31rem;
  margin: 1rem 1.5rem;
  padding-left: 0.5rem;
  border-bottom: 1px solid white;
  &:focus-within {
    border: 1px solid $background;
  }
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #552534;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 0.5rem 0.5rem 0;
  background: #ffffff;
}

.tag-title {
  margin-top: 3px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0.5rem 0 0 0;
}

.tag-close-icon {
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: $background;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
  color: white;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #ffffff;
  }
}
.bob2 {
  border: 0;
  color: #ffffff;
  background-color: #552534;
  &::placeholder {
    color: #ffffff;
  }
}
