.btn-style {
  color: #ffffff;
  background-color: black;
  width: 9rem;
  height: 2.5rem;
  margin-top: 4rem;
  // margin-left: 23rem;
  margin-left: 2rem;
  border: 0;
  border-radius: 20px;
}

.test {
  color: #7c423c;
  margin-top: 3rem;
  width: 496px;
}

.profile {
  margin-left: 2.5rem;
  &__header {
    margin-left: 2rem;
    margin-bottom: 2.5rem;
  }
  &__info {
    margin-bottom: 2rem;
  }
}
