@import "../partials/variables";
@import "../partials/mixins";

.btn-style {
  color: $tertiary;
  background-color: $secondary;
  width: 9rem;
  height: 2.3rem;
  margin-top: 1rem;
  margin-left: 25rem;

  border: 0;
  border-radius: 20px;
}

.userProfile {
  margin-top: 3rem;
  width: 31rem;
}

.profile {
  margin-left: 2.5rem;
  &__header {
    margin-left: 2rem;
    margin-bottom: 2.5rem;
  }
  &__content {
    display: flex;
    color: $secondary;
  }
  &__info {
    margin-bottom: 2rem;
    font-weight: 300;
  }
  &__label {
    margin-right: 0.5rem;
    font-weight: 600;
  }
}
